<template>
<v-container>
  <h1 class="title">{{ campaign.title }}!</h1>
  <spinner v-if="isLoading"></spinner>
  <v-row v-if="!isLoading">
   
    <v-col md="12">
      <v-row>
        <v-col md="6">
          <v-card class="ma-auto flex-grow-1" flat>
            <v-subheader class="title">
              Consumers
              <v-spacer></v-spacer>
              <template v-if="data.consumers">{{ data.consumers.total }}</template>
            </v-subheader>
            <!-- <v-divider></v-divider> -->

            <div id="chart">
              <apexchart
                type="donut"
                width="400"
                :options="chartOptions"
                :series="consumer_series"
              ></apexchart>
            </div>
          </v-card>
        </v-col>

         <v-col md="6">
          <v-card class="ma-auto flex-grow-1" flat>
            <v-subheader class="title">
              Campaign Performance
              <v-spacer></v-spacer>
              <template v-if="data.samples">{{ data.samples.total }}</template>
            </v-subheader>
            <!-- <v-divider></v-divider> -->

            <div id="chart2">
              <apexchart
                type="bar"
                width="400"
                :options="samplesChartOptions"
                :series="samples_series"
              ></apexchart>
            </div>
          </v-card>
        </v-col>

       
      </v-row>
      
    </v-col>

     <v-col md="12">
      <v-card flat>
        <v-subheader class="title">Tags</v-subheader>
        <v-chip class="ma-2" v-for="matching_data in campaign.matching_data" v-bind:key="matching_data.id"><b>{{ matching_data.matching_data.matching_tag.title }} : {{ matching_data.matching_data.title }} </b></v-chip>
      </v-card>
    </v-col>

  </v-row>

  </v-container>  
</template>
<script src="./View.ts" lang="ts"></script>
