<template lang="html">
 <router-view></router-view>
</template>

<script lang="ts">

  import {Component, Vue} from "vue-property-decorator";

  @Component({
  })
  export default class Base extends Vue {


  }

</script>

<style scoped lang="scss">
</style>
