<template>
 <v-container>
    <div v-if="!isLoading">
      <h2
          color="grey lighten-5" class="font-weight-bold">
            Daily Surveys
          </h2>
           <v-spacer></v-spacer>
          <v-divider class="mx-4"></v-divider>
      <v-row>
        <v-col md="4" v-for="survey in surveys" v-bind:key="survey.id">
          <v-card class="mx-auto" max-width="344">
            <v-img :src="survey.photo">
                <v-card-title class=" white--text" color="white">{{ survey.survey.title }}</v-card-title>
                <v-divider class="mx-4"></v-divider>
                <v-card-text>
                <v-chip-group
                  v-model="selection"
                  active-class="deep-orange white--text"
                  column
                >
                  <v-chip>{{ survey.survey.number_of_questions }} Questions</v-chip>
                </v-chip-group>
              </v-card-text>

                      <v-card-actions>
                        <v-btn class="ma-2 blue darken-3" small tile outlined color="white" :to="{name:'EditDailySurvey', params:{id: survey.id }}">
                <v-icon left>mdi-pencil</v-icon> Edit</v-btn>
                        <v-btn class="pink white--text" small color="white" @click="openDeleteDialog(survey)"><v-icon left>mdi-delete</v-icon> Delete</v-btn>
                      </v-card-actions>
              </v-img>

          </v-card>
        </v-col>
        <v-col md="4">
            <v-card class="mx-auto white" height="260px" :to="{name:'CreateDailySurvey'}">
             <v-icon no-gutters
        class="d-flex align-center" height="100%" width="100%" size=230>mdi-plus</v-icon>
            </v-card>
        </v-col>
      </v-row>
      <div class="text-center pt-2">
        <v-pagination v-model="currentPage" :length="totalPages" @input="Paginate"></v-pagination>
      </div>
    </div>

    <v-dialog v-model="Deletedialog" width="500" :persistent="cancelDisabled">
      <v-card class="pa-4">
        <v-card-text class="text-center">
          <p class="font-weight-black">Confirm</p>
          <p class="text--secondary">
            Are you sure you want to delete
            <b>{{ deletedItem.title }}</b>
          </p>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="pink" dark :loading="Datadeleting" @click="deleteData">Delete</v-btn>
          <v-btn
            color="primary"
            text
            @click="Deletedialog = false"
            :disabled="cancelDisabled"
          >Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <div v-if="isLoading" class="text-center d-flex flex-column align-center" style="height:100vh;">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </div>
  </v-container>
</template>
<script src="./Home.ts" lang="ts"></script>
<style src="./Home.scss" scoped lang="scss"></style>

