<template lang="html">
<div><router-view></router-view></div>
</template>

<script lang="ts">

  import {Component, Vue} from "vue-property-decorator";

  @Component({
  })
  export default class Base extends Vue {

  }

</script>

