<template>
 <div>
    <v-container fluid>
      <v-row>
        <v-col>
          <v-card flat :loading="isFetching">
            <v-card-text>
              <form class="pa-4">
                <v-text-field
                  type="text"
                  color="primary"
                  label="Brand Name"
                  v-model="name"
                  :error-messages="nameErrors"
                  @input="$v.name.$touch()"
                  @blur="$v.name.$touch()"
                ></v-text-field>
                <v-textarea
                  type="text"
                  color="primary"
                  label="Brand Description"
                  v-model="description"
                  :error-messages="descriptionErrors"
                  @input="$v.description.$touch()"
                  @blur="$v.description.$touch()"
                ></v-textarea>
                <div class="ma-2">
                    <v-img :src="old_photo" width="70"></v-img>
                </div>
                <v-file-input
                  accept="image/*"
                  label="Logo"
                  v-model="photo"
                  :error-messages="photoErrors"
                  @input="$v.photo.$touch()"
                  @blur="$v.photo.$touch()"
                ></v-file-input>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="submit()" depressed :loading="isLoading" :disabled="isLoading">Submit</v-btn>
              </form>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script src="./Edit.ts" lang="ts"></script>
<style src="./Edit.scss" scoped lang="scss"></style>

