<template>
<v-container>
    <v-row>
        <v-col cols="6"><h2 color="grey lighten-5" class="title mb-5">Pages</h2></v-col>
        <v-col cols="6" class="text-right">
            <v-btn color="green" class="white--text" :to="{name: 'CreatePage'}">Add Pages</v-btn>
        </v-col>
    </v-row>
    <v-card flat>
      <v-card-title>
        <v-btn
          dark
          color="red"
          :disabled="(selectedRows.length < 1)"
          @click="openBulkItemsDialog"
          depressed
        >
          <v-icon>mdi-delete</v-icon>Delete Seleted
        </v-btn>
        <v-spacer></v-spacer>
        <form @submit.prevent="updateBySearch" class="d-flex flex-row jusftify-left align-center">
          <div>
            <v-text-field
              v-model="search"
              label="Search for Pages"
              class="ma-0"
              hide-details
              color="primary"
              flat
              solo-inverted
            >
              <v-btn slot="append" color="primary" depressed tile type="submit" class="ma-0">
                <v-icon>mdi-magnify</v-icon>
              </v-btn>
            </v-text-field>
          </div>
          <!-- <div>
           <v-btn color="primary" depressed tile type="submit" class="ma-0"><v-icon>mdi-magnify</v-icon></v-btn>
          </div>-->
        </form>
      </v-card-title>

      <v-data-table
        v-model="selectedRows"
        show-select
        :headers="headers"
        :items="data"
        :page.sync="currentPage"
        :items-per-page.sync="itemsPerPage"
        :loading="loading"
        class="elevation-0"
        @update:options="updateTable"
        :hide-default-footer="true"
      >
        <template v-slot:item.photo="{item}">
          <v-img :src="item.photo" width="70"></v-img>
        </template>
        <!-- :server-items-length="totalData" :search="search" -->
        <template v-slot:item.id="{item}">
           <v-btn class="ma-2" dark color="green" small icon :to="{name:'EditPage', params:{id: item.id}}">
            <v-icon left>mdi-pencil</v-icon>
          </v-btn>

          <v-btn class="ma-2" dark color="blue" small icon target="_blank" :href="'/campaign/'+item.id+'/offer/page'">
            <v-icon left>mdi-eye</v-icon>
          </v-btn>
<!-- 
          <v-btn class="ma-2" tile color="red" dark @click="openDeleteDialog(item)" small icon>
            <v-icon left>mdi-trash-can</v-icon>
          </v-btn> -->
        </template>
      </v-data-table>
 
      <div class="text-center pt-2">
        <v-pagination v-model="currentPage" :length="totalPages" @input="Paginate"></v-pagination>
      </div>
    </v-card>

    <v-dialog v-model="Deletedialog" width="500" :persistent="cancelDisabled">
      <v-card class="pa-5">
        <v-card-text class="text-center">
          <h2 class="title">Confirm</h2>

          <p class="text--secondary body-1">
            Are you sure you want to delete
            <strong>"{{ deletedItem.title }}"</strong>
          </p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="red"
            outlined
            depressed
            @click="Deletedialog = false"
            :disabled="cancelDisabled"
          >Cancel</v-btn>
          <v-btn color="primary" depressed dark :loading="Datadeleting" @click="deleteData">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="bulkDeleteDialog" width="500" :persistent="bulkItemsDeleting">
      <v-card class="pa-5">
        <v-card-text class="text-center">
          <h2 class="title">Confirm</h2>

          <p class="text--secondary body-1">Are you sure you want to delete these selected items</p>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            outlined
            @click="bulkDeleteDialog = false"
            :disabled="bulkItemsDeleting"
          >Cancel</v-btn>
          <v-btn
            color="red"
            depressed
            dark
            :loading="bulkItemsDeleting"
            @click="deleteBulkItems"
          >Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script src="./Home.ts" lang="ts"></script>
<style src="./Home.scss" scoped lang="scss"></style>

