<template>
<v-container>
    <h2 color="grey lighten-5" class="title mb-5 text-capitalize">{{ campaign.title }}</h2>

    <v-card flat :loading="isLoading">
     <div class="pa-4">

          <div class="mb-3">
            <p class="mb-1 font-weight-bold">Category</p>
            {{ campaign.categories.title }}
          </div>
          <div class="">
            <p class="mb-1 font-weight-bold">Matching Tags</p>
             <v-chip class="ma-2" v-for="matching_data in campaign.matching_data" v-bind:key="matching_data.id"><b>{{ matching_data.matching_data.matching_tag.title }} : {{ matching_data.matching_data.title }} </b></v-chip>
          </div>
     </div>
    </v-card>

  </v-container> 
</template>
<script src="./View.ts" lang="ts"></script>
