<template>
    <v-container fluid>
      <v-row>
        <v-col>
          <v-card flat>
            <v-card-text>
              <form class="pa-4">
                <v-text-field
                  type="text"
                  color="primary"
                  label="Username"
                  v-model="username"
                  :error-messages="usernameErrors"
                  @input="$v.username.$touch()"
                  @blur="$v.username.$touch()"
                ></v-text-field>
                <v-text-field
                  type="email"
                  color="primary"
                  label="Email"
                  v-model="email"
                  :error-messages="emailErrors"
                  @input="$v.email.$touch()"
                  @blur="$v.email.$touch()"
                ></v-text-field>
                <v-text-field
                  type="password"
                  color="primary"
                  label="Password"
                  v-model="password"
                  :error-messages="passwordErrors"
                  @input="$v.password.$touch()"
                  @blur="$v.password.$touch()"
                ></v-text-field>
                <v-text-field
                  type="password"
                  color="primary"
                  label="Confirm Password"
                  v-model="confirm_password"
                  :error-messages="confirmPasswordErrors"
                  @input="$v.confirm_password.$touch()"
                  @blur="$v.confirm_password.$touch()"
                ></v-text-field>
        
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="submit()" depressed :loading="isLoading" :disabled="isLoading">Submit</v-btn>
              </form>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
</template>
<script src="./Create.ts" lang="ts"></script>

