<template>
  <v-container fluid>
    <div>
      <v-row align="center" justify="center">
        <v-col md="12" class="text-right">
          <v-btn @click="submitSurvey()" color="primary" depressed
            >Submit Survey</v-btn
          >
        </v-col>
        <v-col md="12">
          <v-text-field
            type="text"
            color="primary"
            label="Survey Display Name"
            v-model="survey_name"
            :error-messages="surveyNameErrors"
            @input="$v.survey_name.$touch()"
            @blur="$v.survey_name.$touch()"
          ></v-text-field>
          <v-select
            :items="levels"
            label="Level"
            v-model="level"
            :error-messages="levelErrors"
            @input="$v.level.$touch()"
            @blur="$v.level.$touch()"
          ></v-select>
       
        <v-img :src="old_photo" width="100"></v-img>
          <v-file-input
            accept="image/*"
            label="Survey Image"
            v-model="photo"
            :error-messages="photoErrors"
            @input="$v.photo.$touch()"
            @blur="$v.photo.$touch()"
          ></v-file-input>
          <!-- <v-file-input
            accept="image/*"
            label="Survey Image"
            v-model="photo"
            :error-messages="photoErrors"
            @input="$v.photo.$touch()"
            @blur="$v.photo.$touch()"
          ></v-file-input> -->
        </v-col> 
      </v-row>

      <v-row>
        <v-col md="12">
          <p class="body-1">
            Please read the following instructions to get acquainted with
            creating a survey.
            <v-btn text color="primary" class="text-capitalize"
              >Read Instructions</v-btn
            >
          </p>
        </v-col>
      </v-row>
      <v-row align="center" justify="center">
        <v-col md="12">
          <div id="surveyCreatorContainer"></div>
        </v-col>
      </v-row>
    </div>

    <v-dialog v-model="surveyEmpty" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">Bummer!</v-card-title>
        <v-card-text>You have not added any survey.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="surveyEmpty = false"
            >Add Survey</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <div v-if="isLoading">
      <v-overlay>
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </div>
  </v-container>
</template>
<script src="./Edit.ts" lang="ts"></script>
<style src="./Edit.scss" scoped lang="scss"></style>

 