<template lang="html">

  <section class="base">
    <h1>base Component</h1>
  </section>

</template>

<script lang="ts">

  import {Component, Vue} from "vue-property-decorator";

  @Component({
  })
  export default class Base extends Vue {


  }

</script>

<style scoped lang="scss">
  .base {

  }
</style>
