<template>
<v-container>
    <v-row>
        <v-col cols="6"><h2 color="grey lighten-5" class="title mb-5">Add Freebies</h2></v-col>
    </v-row>
    <v-row>
        <v-col cols="11">
             <v-card flat :loading="isFetching">
            <v-card-text>
              <form class="pa-4">
                  <v-select
                  v-model="type"
                  :items="types"
                  item-text="text"
                  item-value="value"
                  label="Select Freebie Type"
                  @input="$v.type.$touch()"
                  @blur="$v.type.$touch()"
                  >
                  </v-select>

                <v-text-field
                  type="number"
                  color="primary"
                  label="Freebie Amount"
                  v-model="amount"
                  :error-messages="amountErrors"
                  @input="$v.amount.$touch()"
                  @blur="$v.amount.$touch()"
                ></v-text-field>

                <v-text-field
                  type="number"
                  color="primary"
                  label="Freebie Points"
                  v-model="points"
                  :error-messages="pointsErrors"
                  @input="$v.points.$touch()"
                  @blur="$v.points.$touch()"
                ></v-text-field>

                <v-text-field
                  type="number"
                  color="primary"
                  label="Freebie Quantity"
                  v-model="quantity"
                  :error-messages="quantityErrors"
                  @input="$v.quantity.$touch()"
                  @blur="$v.quantity.$touch()"
                ></v-text-field>

                <!-- <v-select
                  v-model="level"
                  :items="levels"
                  label="Select Level"
                  @input="$v.level.$touch()"
                  @blur="$v.level.$touch()"
                  >
                  </v-select> -->

                <v-spacer></v-spacer>
                <v-btn color="primary" @click="submit()" depressed :loading="isLoading" :disabled="isLoading">Submit</v-btn>
              </form>
            </v-card-text>
          </v-card>
        </v-col>
    </v-row>
</v-container>
</template>
<script src="./Edit.ts" lang="ts"></script>
<style src="./Edit.scss" scoped lang="scss">
</style>

