<template>
 <div>
    <v-container fluid>
      <v-row>
        <v-col>
          <v-card flat>
            <v-card-text>
              <form class="pa-4">
                <v-text-field
                  type="text"
                  color="primary"
                  label="Category Name"
                  v-model="name"
                  :error-messages="nameErrors"
                  @input="$v.name.$touch()"
                  @blur="$v.name.$touch()"
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="submit()" depressed :loading="isLoading" :disabled="isLoading">Submit</v-btn>
              </form>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script src="./Create.ts" lang="ts"></script>
<style src="./Create.scss" scoped lang="scss"></style>

