<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col>
          <v-card flat>
            <v-card-text>
              <form class="pa-4">
                <div class="page-setup-form">
                  <div>
                    <v-row>
                      <v-col md="12">
                        <v-text-field
                          type="text"
                          color="primary"
                          label="Product Name"
                          @input="$v.pageSetUpForm.product_name.$touch()"
                          @blur="$v.pageSetUpForm.product_name.$touch()"
                          v-model="pageSetUpForm.product_name"
                          :error-messages="productNameError"
                        ></v-text-field>
                      </v-col>
                      <v-col md="12">
                        <v-textarea
                          color="primary"
                          label="Short Description"
                          rows="2"
                          row-height="15"
                          @input="$v.pageSetUpForm.short_description.$touch()"
                          @blur="$v.pageSetUpForm.short_description.$touch()"
                          v-model="pageSetUpForm.short_description"
                          :error-messages="shortDescriptionError"
                        ></v-textarea>
                      </v-col>
                      <v-col md="12">
                        <v-text-field
                          color="primary"
                          label="Long Description Title"
                          @input="
                            $v.pageSetUpForm.long_description_title.$touch()
                          "
                          @blur="
                            $v.pageSetUpForm.long_description_title.$touch()
                          "
                          v-model="pageSetUpForm.long_description_title"
                          :error-messages="shortDescriptionError"
                        ></v-text-field>
                      </v-col>
                      <v-col md="12">
                        <v-text-field
                          color="primary"
                          label="Long Description Content"
                          @input="
                            $v.pageSetUpForm.long_description_content.$touch()
                          "
                          @blur="
                            $v.pageSetUpForm.long_description_content.$touch()
                          "
                          v-model="pageSetUpForm.long_description_content"
                          :error-messages="longDescriptionContentError"
                        ></v-text-field>
                      </v-col>
                      <v-col md="12">
                        <v-text-field
                          color="primary"
                          label="Feature Title"
                          @input="$v.pageSetUpForm.features.title.$touch()"
                          @blur="$v.pageSetUpForm.features.title.$touch()"
                          v-model="pageSetUpForm.features.title"
                          :error-messages="featureTitleError"
                        ></v-text-field>
                      </v-col>
                      <v-col md="12">
                        <v-combobox
                          type="text"
                          color="primary"
                          label="Feature List"
                          multiple
                          chips
                          deletable-chips
                          @input="
                            $v.pageSetUpForm.features.feature_list.$touch()
                          "
                          @blur="
                            $v.pageSetUpForm.features.feature_list.$touch()
                          "
                          v-model="pageSetUpForm.features.feature_list"
                          :error-messages="featureListError"
                        ></v-combobox>
                      </v-col>
                      <v-col md="12">
                        <v-text-field
                          type="text"
                          color="primary"
                          label="Info Title"
                          @input="$v.pageSetUpForm.info_title.$touch()"
                          @blur="$v.pageSetUpForm.info_title.$touch()"
                          v-model="pageSetUpForm.info_title"
                          :error-messages="shortDescriptionError"
                        ></v-text-field>
                      </v-col>
                      <v-col md="12">
                        <v-textarea
                          type="text"
                          color="primary"
                          label="Info Content"
                          @input="$v.pageSetUpForm.info_content.$touch()"
                          @blur="$v.pageSetUpForm.info_content.$touch()"
                          v-model="pageSetUpForm.info_content"
                          :error-messages="infoContentError"
                        ></v-textarea>
                      </v-col>
                    </v-row>
                  </div>
                  <div>
                    <h3>Uploads</h3>
                    <v-row>
                      <v-col md="6">
                        <v-file-input
                          accept="image/*"
                          label="Banner Image"
                          v-model="pageSetUpForm.uploads.banner"
                          :error-messages="bannerUploadErrors"
                          @input="$v.pageSetUpForm.uploads.banner.$touch()"
                          @blur="$v.pageSetUpForm.uploads.banner.$touch()"
                        ></v-file-input>
                      </v-col>
                      <v-col md="6">
                        <div class="mb-3">
                          <v-row>
                            <v-col
                              md="3"
                              v-for="(pic, index) in old_pictures"
                              v-bind:key="index"
                            >
                              <v-card tile>
                                <v-img :src="pic" width="200">
                                  <template v-slot:default>
                                    <v-btn
                                      dark
                                      fab
                                      top
                                      right
                                      x-small
                                      color="red"
                                      @click="removePic(index)"
                                    >
                                      <v-icon>mdi-close</v-icon>
                                    </v-btn>
                                  </template>
                                </v-img>
                              </v-card>
                            </v-col>
                          </v-row>
                        </div>
                        <v-file-input
                          show-size
                          counter
                          multiple
                          accept="image/*"
                          label="Six Pictures Of Products"
                          v-model="pageSetUpForm.uploads.pictures"
                          :error-messages="picturesUploadErrors"
                          @input="$v.pageSetUpForm.uploads.pictures.$touch()"
                          @blur="$v.pageSetUpForm.uploads.pictures.$touch()"
                        ></v-file-input>
                      </v-col>
                    </v-row>
                  </div>
                </div>
                <v-btn color="primary" @click="submitPageSetUpForm()"
                  >Submit</v-btn
                >
              </form>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script src="./Edit.ts" lang="ts"></script>
<style src="./Edit.scss" scoped lang="scss"></style>

