<template>
 <div>
    <v-container fluid>
      <v-row>
        <v-col>
          <v-card flat>
            <v-card-text>
                <v-card-title>Create Banner Ad</v-card-title>
              <form class="pa-4">
                <v-text-field
                  type="text"
                  color="primary"
                  label="Ads Title"
                  v-model="title"
                  :error-messages="titleErrors"
                  @input="$v.title.$touch()"
                  @blur="$v.title.$touch()"
                ></v-text-field>
                <v-file-input
                    accept="image/*"
                    label="Survey Image"
                    v-model="photo"
                    :error-messages="photoErrors"
                    @input="$v.photo.$touch()"
                    @blur="$v.photo.$touch()"
                ></v-file-input>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="submit()" depressed :loading="isLoading" :disabled="isLoading">Submit</v-btn>
              </form>
            </v-card-text>
          </v-card> 
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script src="./Create.ts" lang="ts"></script>
<style src="./Create.scss" scoped lang="scss"></style>

