<section class="home">
  <h1 class="title">Welcome {{ user.username }}!</h1>
  <spinner v-if="isLoading"></spinner>
  <v-row v-if="!isLoading">
    <v-col md="4">
      <v-card flat>
        <v-subheader class="title">Ongoing Campaigns</v-subheader>
        <template v-if="data.campaigns">
          <v-list two-line>
            <template v-for="(item, index) in data.campaigns">
              <v-divider v-if="index > 0" :key="index"></v-divider>
              <v-list-item :key="item.title">
                <v-list-item-content>
                  <v-list-item-title v-html="item.title"></v-list-item-title>
                  <v-list-item-subtitle v-html="item.description"></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-list>
        </template>
        <template v-else>
          <p class="text-left pa-3 body-1">There are no campaigns at the moment.</p>
        </template>
      </v-card>
    </v-col>
    <v-col md="8">
      <v-row>
        <v-col md="6">
          <v-card class="ma-auto flex-grow-1" flat>
            <v-subheader class="title">
              Consumers
              <v-spacer></v-spacer>
              <template v-if="data.consumers">{{ data.consumers.total }}</template>
            </v-subheader>
            <!-- <v-divider></v-divider> -->

            <div id="chart">
              <apexchart
                type="donut"
                width="320"
                :options="chartOptions"
                :series="consumer_series"
              ></apexchart>
            </div>
          </v-card>
        </v-col>

        <v-col md="6">
          <v-card class="ma-auto flex-grow-1" flat>
            <v-subheader class="title">Active Surveys</v-subheader>
            <v-list two-line>
              <template v-for="(item) in data.surveys">
                <!-- <v-divider v-if="index > 0" :key="index"></v-divider> -->
                <v-list-item :key="item.title">
                  <v-list-item-content>
                    <v-list-item-title v-html="item.value"></v-list-item-title>
                    <v-list-item-subtitle>{{ item.title }}</v-list-item-subtitle>
                  </v-list-item-content>
                  <v-list-item-action>
                    <v-img src="@/assets/images/admin/ui-graph.svg"></v-img>
                  </v-list-item-action>
                </v-list-item>
              </template>
            </v-list>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col md="6">
          <v-card class="ma-auto flex-grow-1" flat>
            <v-subheader class="title">
              Samples
              <v-spacer></v-spacer>
              <template v-if="data.samples">{{ data.samples.total }}</template>
            </v-subheader>
            <!-- <v-divider></v-divider> -->

            <div id="chart">
              <apexchart
                type="donut"
                width="320"
                :options="samplesChartOptions"
                :series="samples_series"
              ></apexchart>
            </div>
          </v-card>
        </v-col>

        <v-col md="6">
          <v-card class="ma-auto flex-grow-1" flat>
            <v-subheader class="title">Shipping</v-subheader>
            <v-list two-line>
              <template v-for="(item, index) in data.shipping">
                <!-- <v-divider v-if="index > 0" :key="index"></v-divider> -->
                <v-list-item :key="item.title">
                  <v-list-item-avatar>
                    <v-img :src="require('@/assets/images/admin/ui-shipping-'+(index+1)+'.svg')"></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title v-html="item.value"></v-list-item-title>
                    <v-list-item-subtitle>{{ item.title }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-list> 
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</section>

