<template>
   <v-container fluid>
    <div class="text-center title-cont my-7">
      <center><img class="d-flex align-center" src="http://dev.hazina.xyz/images/logo.png" contain
        max-width="128"
        width="100" />
      </center>
      <h3 class="sub-title">Admin Login</h3>
    </div>

<v-row align="center" justify="center">
      <v-col md="5" sm="7" xs="12">
    <v-alert
      color="#C82A06"
      dark
      icon="mdi-cancel"
      border="left"
      v-if="hasError"
    >{{ errorMessages }}</v-alert>
      </v-col>
</v-row>

    <v-row align="center" justify="center">
      <v-col md="5" sm="7" xs="12">
        <form>
          <v-text-field
            v-model="email"
            type="email"
            color="primary"
            label="Email Address"
            :error-messages="emailErrors"
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
          ></v-text-field>

          <v-text-field
            v-model="password"
            type="password"
            color="primary"
            label="Password"
            :error-messages="passwordErrors"
            @input="$v.password.$touch()"
            @blur="$v.password.$touch()"
          ></v-text-field>

          <!-- <div class="mt-0 mb-2 text-right" color="teal darken-4">
            <router-link
              :to="{name: 'ForgotPassword'}"
              class="font-weight-bold"
              style="text-decoration:none;"
            >Forgot Pasword</router-link>
          </div> -->

          <v-btn
            color="primary"
            class="white--text mt-4"
            block
            large
            depressed
            @click="submit"
            :loading="isLoading"
            :disabled="isLoading"
          >Sign In</v-btn>
        </form>
      </v-col>
    </v-row>
    <!-- <v-row align="center" justify="center">
      <v-col md="5" sm="7" xs="12">
        <p class="app-text">Or Login With:</p>
        <div class="mt-0 mb-2 text-center" color="teal darken-4">
          <v-btn
            color="indigo darken-4"
            class="white--text app-text-btn"
            block
            tile
            large
          >Facebook</v-btn>
        </div>
      </v-col>
    </v-row> -->

  </v-container>
</template>

<script src="./Login.ts" lang="ts"></script>
<style src="./Login.scss" scoped lang="scss"></style>

