<template>
  <v-container>
    <v-row>
      <v-col md="8">
        <v-row>
          <v-col md="12">
            <v-card flat :loading="isLoading">
              <v-card-title class="title">Outbound Inventories</v-card-title>
              <template v-if="data">
                <v-card-text class="pa-0">
                  <v-expansion-panels class="elevation-0">
                    <v-expansion-panel
                      v-for="(awaiting, key) in data"
                      v-bind:key="key"
                    >
                      <v-expansion-panel-header>
                        {{ key }}
                      </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <v-row>
                          <v-col
                            md="6"
                            v-for="product in awaiting"
                            v-bind:key="product.id"
                          >
                            <v-card class="mx-auto" max-width="400">
                              <v-img
                                class="white--text align-end"
                                height="200px"
                                :src="product.outbound.campaign.photo"
                              >
                                <v-card-title>{{
                                  product.outbound.campaign.elipsis
                                }}</v-card-title>
                              </v-img>
                            </v-card>
                          </v-col>
                        </v-row>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-card-text>
              </template>
              <template v-else>
                <v-card-text>
                  <p>
                    You do not have any boxes awaiting delivery at the moment.
                  </p>
                </v-card-text>
              </template>
            </v-card>
          </v-col>
        </v-row>

        <!-- <v-row>
          <v-col md="12"> 
               <v-card flat :loading="isDeliveredLoading">
          <v-card-title class="title">Delivered</v-card-title>
          <v-card-text class="pa-0">
            <v-expansion-panels class="elevation-0">
              <v-expansion-panel
                v-for="(delivered, key) in delivered_shipping"
                v-bind:key="key"
              >
                <v-expansion-panel-header>
                 {{ key }}
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-row>
                    <v-col
                      md="6"
                      v-for="product in delivered"
                      v-bind:key="product.id"
                    >
                      <v-card class="mx-auto" max-width="400">
                        <v-img
                          class="white--text align-end"
                          height="200px"
                          :src="product.campaign.photo"
                        >
                          <v-card-title>{{ product.campaign.elipsis }}</v-card-title>
                        </v-img>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-card-text>
        </v-card>
          </v-col>
        </v-row> -->
      </v-col>
    </v-row>
  </v-container>
</template>
<script src="./Home.ts" lang="ts"></script>
<style scoped lang="scss"></style>

