<template>
  <v-container fluid>
    <div v-if="!isLoading">
      <h2 class="title mb-4">Create Campaign</h2>

      <v-stepper v-model="currentStep" vertical>
        <v-stepper-step step="1" :complete="currentStep > 1"
          >Basic Campaign Setup</v-stepper-step
        >

        <v-stepper-content step="1">
          <form class="pa-4">
            <v-select
              v-model="basicSetUpForm.brand"
              :items="brands"
              item-text="name"
              item-value="id"
              label="Select Brand" 
              :error-messages="brandErrors"
              @input="$v.basicSetUpForm.brand.$touch()"
              @blur="$v.basicSetUpForm.brand.$touch()"
            ></v-select>

            <v-text-field
              type="text"
              clearable
              color="primary"
              placeholder="Campaign Name"
              label="Campaign Name"
              v-model="basicSetUpForm.campaign_name"
              :error-messages="campaignNameErrors"
              @input="$v.basicSetUpForm.campaign_name.$touch()"
              @blur="$v.basicSetUpForm.campaign_name.$touch()"
            ></v-text-field>

            <div>
              <v-row>
                <v-col md="12">
                  <h3>Campaign Category (Select A Category)</h3>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  md="3"
                  v-for="category in categories"
                  v-bind:key="category.id"
                >
                  <v-sheet
                    v-ripple
                    class="pa-10 text-center"
                    tile
                    :color="selectedCategories == category.id ? 'primary' : ''"
                    @click="toggleMarkCategory(category.id)"
                    >{{ category.title }}</v-sheet
                  >
                </v-col>
              </v-row>
            </div>
          </form>

          <v-btn color="primary" @click="submitBasicSetUpForm()"
            >Continue</v-btn
          >
          <!-- <v-btn text>Cancel</v-btn> -->
        </v-stepper-content>

        <v-stepper-step step="2" :complete="currentStep > 2"
          >Matching Conditions</v-stepper-step
        >

        <v-stepper-content step="2">
          <div>
            <div>
              <p>Select your is your target Audience?</p>
              <v-row>
                <v-col md="12">
                  <div>
                    <!-- <v-select
              :items="matching_tags"
              item-text="title"
              multiple
              item-value="id"
              label="Select Brand"
                    ></v-select>-->

                    <v-autocomplete
                      v-model="selected_matching_tags"
                      :items="matching_tags"
                      item-value="matching_data"
                      item-text="title"
                      color="primary"
                      deletable-chips
                      chips
                      small-chips
                      label="Select Matching Conditions"
                      multiple
                    ></v-autocomplete>
                    <!-- {{ selected_matching_tags }} -->
                    <div
                      v-for="selected in selected_matching_tags"
                      v-bind:key="selected"
                    >
                      <v-autocomplete
                        v-model="selected_matching_data"
                        :items="selected"
                        item-value="id"
                        item-text="title"
                        color="primary"
                        deletable-chips
                        chips
                        small-chips
                        multiple
                      ></v-autocomplete>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </div>
          </div>
          <!-- {{ selected_matching_data  }} -->
          <!-- <v-btn color="primary" @click="submitConditionForm()">Continue</v-btn> -->
          <v-btn color="primary" @click="testUp()">Continue</v-btn>
          <v-btn text @click="currentStep = 2">Back</v-btn>
        </v-stepper-content>

        <v-stepper-step step="3" :complete="currentStep > 3"
          >Campaign Page Setup</v-stepper-step
        >

        <v-stepper-content step="3">
          <div class="page-setup-form">
            <div>
              <h3>Headlines</h3>
              <v-row>
                <v-col
                  md="12"
                  v-for="(v, index) in $v.pageSetUpForm.headlines.$each.$iter"
                  v-bind:key="index"
                  class="my-0"
                >
                  <v-row>
                    <v-col md="6">
                      <v-text-field
                        type="text"
                        clearable
                        color="primary"
                        :placeholder="'Title ' + (parseInt(index) + 1)"
                        :label="'Title ' + (parseInt(index) + 1)"
                        @input="v.title.$touch()"
                        @blur="v.title.$touch()"
                        v-model="v.title.$model"
                        :error-messages="headlineErrors[index]['title']"
                      ></v-text-field>
                    </v-col>
                    <v-col md="6">
                      <v-text-field
                        type="text"
                        clearable
                        color="primary"
                        :placeholder="'Tagline ' + (parseInt(index) + 1)"
                        :label="'Tagline ' + (parseInt(index) + 1)"
                        @input="v.tagline.$touch()"
                        @blur="v.tagline.$touch()"
                        v-model="v.tagline.$model"
                        :error-messages="headlineErrors[index]['tagline']"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </div>

            <div>
              <h3>Features</h3>
              <v-row>
                <v-col
                  md="12"
                  class="my-0"
                  v-for="(v, index) in $v.pageSetUpForm.features.$each.$iter"
                  v-bind:key="index"
                >
                  <v-row>
                    <v-col md="12">
                      <v-text-field
                        type="text"
                        clearable
                        color="primary"
                        :placeholder="'Title ' + (parseInt(index) + 1)"
                        :label="'Title ' + (parseInt(index) + 1)"
                        @input="v.title.$touch()"
                        @blur="v.title.$touch()"
                        v-model="v.title.$model"
                        :error-messages="featuresErrors[index]['title']"
                      ></v-text-field>
                    </v-col>
                    <v-col md="12">
                      <v-textarea
                        rows="1"
                        row-height="15"
                        :placeholder="'Description ' + (parseInt(index) + 1)"
                        :label="'Description ' + (parseInt(index) + 1)"
                        @input="v.description.$touch()"
                        @blur="v.description.$touch()"
                        v-model="v.description.$model"
                        :error-messages="featuresErrors[index]['description']"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </div>

            <div>
              <h3>Uploads</h3>
              <v-row>
                <v-col md="6">
                  <v-file-input
                    accept="image/*"
                    label="Banner Image"
                    v-model="pageSetUpForm.uploads.banner"
                    :error-messages="bannerUploadErrors"
                    @input="$v.pageSetUpForm.uploads.banner.$touch()"
                    @blur="$v.pageSetUpForm.uploads.banner.$touch()"
                  ></v-file-input>
                </v-col>
                <v-col md="6">
                  <v-file-input
                    show-size
                    counter
                    multiple
                    accept="image/*"
                    label="Six Pictures Of Products"
                    v-model="pageSetUpForm.uploads.pictures"
                    :error-messages="picturesUploadErrors"
                    @input="$v.pageSetUpForm.uploads.pictures.$touch()"
                    @blur="$v.pageSetUpForm.uploads.pictures.$touch()"
                  ></v-file-input>
                </v-col>
              </v-row>
            </div>

            <div>
              <h1>Our Story</h1>
              <p>How is our product made?</p>
              <v-row>
                <v-col
                  md="12"
                  class="my-0"
                  v-for="(v, index) in $v.pageSetUpForm.product_story.$each
                    .$iter"
                  v-bind:key="index"
                >
                  <v-textarea
                    rows="1"
                    row-height="15"
                    :placeholder="'Story ' + (parseInt(index) + 1)"
                    :label="'Story ' + (parseInt(index) + 1)"
                    @input="v.story.$touch()"
                    @blur="v.story.$touch()"
                    v-model="v.story.$model"
                    :error-messages="productStoryErrors[index]['story']"
                  ></v-textarea>
                </v-col>
              </v-row>
            </div>

            <div>
              <h2>Testimonials</h2>
              <v-row>
                <v-col
                  md="12"
                  class="my-0"
                  v-for="(v, index) in $v.pageSetUpForm.testimonials.$each
                    .$iter"
                  v-bind:key="index"
                >
                  <v-row>
                    <v-col md="6">
                      <v-text-field
                        type="text"
                        clearable
                        color="primary"
                        :placeholder="'Headline ' + (parseInt(index) + 1)"
                        :label="'Headline ' + (parseInt(index) + 1)"
                        @input="v.headline.$touch()"
                        @blur="v.headline.$touch()"
                        v-model="v.headline.$model"
                        :error-messages="testimonialsErrors[index]['headline']"
                      ></v-text-field>
                    </v-col>
                    <v-col md="6">
                      <v-text-field
                        type="text"
                        clearable
                        color="primary"
                        :placeholder="
                          'Customer Details ' + (parseInt(index) + 1)
                        "
                        :label="'Customer Details ' + (parseInt(index) + 1)"
                        @input="v.customer.$touch()"
                        @blur="v.customer.$touch()"
                        v-model="v.customer.$model"
                        :error-messages="testimonialsErrors[index]['customer']"
                      ></v-text-field>
                    </v-col>
                    <v-col md="12">
                      <v-textarea
                        rows="2"
                        row-height="15"
                        color="primary"
                        :placeholder="'Testimonial ' + (parseInt(index) + 1)"
                        :label="'Testimonial ' + (parseInt(index) + 1)"
                        @input="v.testimonial.$touch()"
                        @blur="v.testimonial.$touch()"
                        v-model="v.testimonial.$model"
                        :error-messages="
                          testimonialsErrors[index]['testimonial']
                        "
                      ></v-textarea>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </div>

            <div>
              <h2>Footer Banner</h2>
              <v-row>
                <v-col md="12">
                  <v-row>
                    <v-col md="6">
                      <v-text-field
                        type="text"
                        clearable
                        color="primary"
                        placeholder="Headline"
                        label="Headline"
                        v-model="pageSetUpForm.footer.headline"
                        :error-messages="footerHeadlineErrors"
                        @input="$v.pageSetUpForm.footer.headline.$touch()"
                        @blur="$v.pageSetUpForm.footer.headline.$touch()"
                      ></v-text-field>
                    </v-col>
                    <v-col md="6">
                      <v-file-input
                        accept="image/*"
                        label="Upload Banner"
                        v-model="pageSetUpForm.footer.banner"
                        :error-messages="footerBannerErrors"
                        @input="$v.pageSetUpForm.footer.banner.$touch()"
                        @blur="$v.pageSetUpForm.footer.banner.$touch()"
                      ></v-file-input>
                    </v-col>
                    <v-col md="12">
                      <v-textarea
                        placeholder="Body Copy"
                        label="Body Copy"
                        color="primary"
                        v-model="pageSetUpForm.footer.body"
                        :error-messages="footerBodyErrors"
                        @input="$v.pageSetUpForm.footer.body.$touch()"
                        @blur="$v.pageSetUpForm.footer.body.$touch()"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </div>

            <div>
              <h3>Quantity To be Sampled</h3>
              <v-row>
                <v-col md="12">
                  <v-row>
                    <v-col md="6">
                      <v-text-field
                        type="number"
                        clearable
                        color="primary"
                        placeholder="Quantity"
                        label="Quantity"
                        v-model="pageSetUpForm.time_and_sample.sample"
                        :error-messages="sampleErrors"
                        @input="
                          $v.pageSetUpForm.time_and_sample.sample.$touch()
                        "
                        @blur="$v.pageSetUpForm.time_and_sample.sample.$touch()"
                      ></v-text-field>
                    </v-col>
                    <v-col md="6">
                      <v-dialog
                        ref="dialog"
                        v-model="Datemodal"
                        :return-value.sync="dateRange"
                        persistent
                        width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            label="Picker in dialog"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-on="on"
                            v-model="pageSetUpForm.time_and_sample.duration"
                            :error-messages="durationErrors"
                            @input="
                              $v.pageSetUpForm.time_and_sample.duration.$touch()
                            "
                            @blur="
                              $v.pageSetUpForm.time_and_sample.duration.$touch()
                            "
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="pageSetUpForm.time_and_sample.duration"
                          scrollable
                          range
                        >
                          <v-spacer></v-spacer>
                          <v-btn text color="primary" @click="Datemodal = false"
                            >Cancel</v-btn
                          >
                          <v-btn
                            text
                            color="primary"
                            @click="
                              $refs.dialog.save(
                                pageSetUpForm.time_and_sample.duration
                              )
                            "
                            >OK</v-btn
                          >
                        </v-date-picker>
                      </v-dialog>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </div>
          </div>
          <v-btn color="primary" @click="submitPageSetUpForm()">Submit</v-btn>
          <v-btn text @click="currentStep = 2">Back</v-btn>
        </v-stepper-content>

        <!-- <v-stepper-step step="4">Review</v-stepper-step>

        <v-stepper-content step="4">
          <v-card color="grey lighten-1" class="mb-12" height="200px"></v-card>
          <v-btn color="primary" @click="e13 = 1">Submit</v-btn>
          <v-btn text>Cancel</v-btn>
        </v-stepper-content>-->
      </v-stepper>
    </div>

    <div v-if="isFormSubmitting">
      <v-overlay>
        <!-- <v-progress-circular indeterminate size="64"></v-progress-circular> -->
        <spinner></spinner>
      </v-overlay>
    </div>
    <spinner v-if="isLoading"></spinner>
  </v-container>
</template>
<script src="./Create.ts" lang="ts"></script>
<style src="./Create.scss" scoped lang="scss"></style>

